<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sonidos APP
    </ion-title>
    <ion-buttons>
      <button ion-button *ngIf="!ordenando" (click) ="ordenando = true" > <!-- directamente cambio el valor a ordenado cdo de click-->
           Ordenar
      </button>
      <button ion-button *ngIf="ordenando"(click) ="ordenando = false" > <!-- directamente cambio el valor a ordenado cdo de click-->
          Terminar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

   <!--para refrescar toda la pagina, cdo ordenado==false es decir cdo no este ordenando -->
  <ion-refresher [enabled]="!ordenando" (ionRefresh)="recargarAnimales($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <!--fin refrescar toda la pagina -->

  <!-- <ion-list reorder="true" (ionItemReorder) ="reordenarAnimales($event)" >  -->
  <ion-list [reorder]="ordenando" (ionItemReorder) ="reordenarAnimales($event)"> 
    <ion-item-sliding *ngFor="let animal of animales; let i = index">
          
          <ion-item (click)="reproducir(animal)" >
            <ion-avatar item-left>
              <img [src]="animal.imagen" [alt]="animal.nombre">
            </ion-avatar>
            <h2>{{ animal.nombre }}</h2>
             <ion-icon [hidden]="ordenando" *ngIf="!animal.reproduciendo" name="play" item-right></ion-icon>
             <ion-icon [hidden]="ordenando" *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>
          </ion-item>

          <!-- opciones o botones a la derecha  -->
          <ion-item-options side="right">
              <button ion-button color="danger"
                      (click)="borrarAnimal(i)">
                <ion-icon name="trash"></ion-icon>
                Borrar
              </button>

              <button ion-button color="primary">
                    <ion-icon name="mail"></ion-icon>
                    Email
              </button>

          </ion-item-options>

          <!-- opciones o botones a la izquierda  -->
        <ion-item-options side="left">  <!--botones:  ion-item-options -->
            <button ion-button color="primary">
              <ion-icon name="text"></ion-icon>
              Text
            </button>
            <button ion-button color="secondary">
              <ion-icon name="call"></ion-icon>
              Call
            </button>
        </ion-item-options>

        


      </ion-item-sliding>
  </ion-list>

</ion-content>
